<h1 class="header">Add an ingredient to <%= @cocktail.name.downcase %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-inputs">
    <%= f.input :description, label: 'Quantity', input_html: { autocomplete: 'off', autofocus: true } %>
    <%= f.association :ingredient, collection: Ingredient.order(:name) %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Save', class: 'btn btn-primary btn-lg' %> <span class="button-divider">|</span>
    <%= link_to 'Cancel', @cocktail, class: 'btn btn-lg btn-outline-secondary' %>
  </div>
<% end %>
